
@inherits LayoutComponentBase

<div>

   
    <FluentStack Orientation="@Orientation">

        <FluentAppBar>
            <FluentAppBarItem Href="/home" Text="主页"></FluentAppBarItem>
            <FluentAppBarItem Href="/setting" Text="设置"></FluentAppBarItem>
        </FluentAppBar>
        @* <FluentNavMenu Width="@Width" Collapsible="true" Expanded="false"> *@
        @*     <FluentNavLink Href="/home">主页</FluentNavLink> *@
        @*     <FluentNavLink Href="/counter">counter</FluentNavLink> *@
        @*     <FluentNavLink Href="/setting">设置</FluentNavLink> *@
        @* </FluentNavMenu> *@

        @Body

    </FluentStack>


</div>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>


@code{
    [Parameter] public Orientation Orientation { get; set; }
    [Parameter] public int? Width { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (DeviceInfo.Current.Idiom == DeviceIdiom.Desktop || DeviceInfo.Current.Idiom == DeviceIdiom.Tablet)
        {
            Orientation = Orientation.Horizontal;
            Width = 200;
        }
        else
        {
            Orientation = Orientation.Vertical;
        }
    }

}