@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Size24 = Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size24


<div >
<div class="bottom-div">
  <FluentStack Orientation="Orientation.Vertical">
    <FluentStack Orientation="Orientation.Horizontal" Style="width: calc(100vw - 80px);" HorizontalAlignment="HorizontalAlignment.Right">

      <FluentButton OnClick="SendCommand" Disabled="@(string.IsNullOrEmpty(text))"

                    IconStart="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.Send())"></FluentButton>
    </FluentStack>
    <textarea Style="width: 100%" @bind-Value="text" @bind-Value:event="oninput"></textarea>
  </FluentStack>
</div>
</div>