@inherits DialogBase

<div>
    <FluentLabel Typo="Typography.H4">@this.Localizer["DoYouWantToCloseTheProgram"]</FluentLabel>
    <FluentCheckbox Style="margin-top: 20px;" Value="isChecked">@Localizer["DoNotShowMessage"]</FluentCheckbox>
</div>