@page "/History"
@using AirTransfer.Models
@inherits PageComponentBase

<div>
    <FluentListbox TOption="SaveItemModel">
        @if(this.Models !=null){
        @foreach(var item in this.Models)
        {
            <FluentCard>
                
            </FluentCard>
        }
        }
    </FluentListbox>
</div>