@page "/home"

<div>
    <h2>home</h2>
    @* <FluentGrid Spacing="5"> *@
    @*     <FluentGridItem xs="12"> *@
    @*         <FluentCard Style="width: 100%"> *@
    @*             <FluentStack Orientation="Orientation.Horizontal"> *@
    @*                 2 *@
    @*             </FluentStack> *@
    @*         </FluentCard> *@
    @*     </FluentGridItem> *@
    @* </FluentGrid> *@
</div>
