@page "/home"
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled

<div>

    <FluentGrid Spacing="5">
        <FluentGridItem xs="12">
            <FluentCard Style="width: 100%">
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentPersona Name="Saiu" Status="PresenceStatus.Available"
                                   StatusSize="PresenceBadgeSize.Large"
                                   Image="images/h.jpg" ImageSize="80px"></FluentPersona>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
</div>
