

.listbox {
    overflow-x: hidden
}

.listbox:focus {
    border: none;
    outline: none;
}

.listbox:focus-visible {
    border: none;
    outline: none;
}

.system-type-icon {
    width: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
}