@page "/home"
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled

<div>
    <h2>home</h2>

    <FluentIcon Icon="@(Size20.Home)" />
    @* <FluentGrid Spacing="5"> *@
    @*     <FluentGridItem xs="12"> *@
    @*         <FluentCard Style="width: 100%"> *@
    @*             <FluentStack Orientation="Orientation.Horizontal"> *@
    @*                 2 *@
    @*             </FluentStack> *@
    @*         </FluentCard> *@
    @*     </FluentGridItem> *@
    @* </FluentGrid> *@
</div>
