@page "/setting"

<div>

    <FluentGrid AdaptiveRendering="true">
        <FluentGridItem xs="12">
            @* <div class="card" style="background-color: red"> *@
            @*     xs=12222 *@
            @* </div> *@
            <FluentButton Style="width: 100%;margin: 5px;" Appearance="Appearance.Accent" OnClick="@LogoutCommand">
                登出
            </FluentButton>
        </FluentGridItem>
    </FluentGrid>

</div>