@page "/Home/TextInput"
@inherits PageComponentBase

<div class="main-container">

    <div class="top">

        <FluentTextArea Rows="20" Resize="TextAreaResize.Vertical" Label="输入文本：" @bind-Value="Text"
                        Placeholder="请输入要发送的文本内容:" Autofocus="true"
                        Style="width: 100%;"></FluentTextArea>
    </div>

    <div class="bottom">
        <FluentButton Style="width: 100%" OnClick="this.SubmitCommand">确定</FluentButton>
    </div>


</div>


@code {

}